@page "/"
@using CrewDir.UIService;
@inject ApiClientService _apiClientService

<PageTitle>Index</PageTitle>

<h1>Departments</h1>

@if(_departments != null)
{
    <ul>
        @foreach (var department in _departments)
        {
            <li>@department.Name</li>
        }
    </ul>
}


@code {
    private List<DepartmentResponse>? _departments;

    protected async override Task OnInitializedAsync()
    {
        _departments = await _apiClientService.GetDepartmentsAsync();
    }
}